* {
    box-sizing: border-box;
}


#nav-test, .nav-contact,
#nav-test_1,#nav-test_2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav {
    display:flex;
    justify-content: space-between;

    
}    
.li-nav {
    display:inline-block;
    margin-right:30px;
    margin-top:15px;
    font-size:20px;
}

#container {
    display: grid;
    grid-template-rows:1fr 2fr 1fr 1fr  ;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    grid-column-gap:5%;
    text-align:justify;
    background-color: bisque;
    padding:0 40px ;
    margin:0 auto;
    
    
    

    

}
.list {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

}
li {
    list-style: none;
}
img {
    width:100%;
    height:auto;
}

h1.name {
    margin-top:3px;
    
}
#about_me h1 {
    margin-top:0;
}
h1 {
    text-align: center;
}

#nav-test2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
  
  
 

 .project {
  font-size:20px;
  letter-spacing: 10px;
  font-weight: bold;
 }
  
 @media only screen and (max-width:500px){
    * {
        box-sizing: border-box;
    }

    #container {
        width:100%;
        grid-template-columns:100% ;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
        grid-row-gap: 4px;
    }

    #about_me {
        grid-column-start: 1;
        grid-column-end: 2;
        margin:0
    }
    #image {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .nav {
        display:flex;
        flex-direction: column;
    }
    .li-nav-3 {
        margin-left:40%;
    }
 }
 @media only screen and (min-width:501px) and (max-width:803px){
    * {
        box-sizing: border-box;
    }

    #container {
        width:100%;
        grid-template-columns:100% ;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
        grid-row-gap: 4px;
    }

    #about_me {
        grid-column-start: 1;
        grid-column-end: 2;
        margin:0
    }
    #image {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .nav {
        display:flex;
        flex-direction: column;
    }
    .li-nav-3 {
        margin-left:45%;
    }
 }
 @media only screen and (min-width:804px)and (max-width:992px){
    * {
        box-sizing: border-box;
    }

    #container {
        width:100%;
        grid-template-columns:100% ;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
        grid-row-gap: 4px;
    }

    #about_me {
        grid-column-start: 1;
        grid-column-end: 2;
        margin:0
    }
    #image {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .nav {
        display:flex;
        flex-direction: column;
        
    }
    .nav-elt {
        margin:0 auto;
    }
    .li-nav {
        margin-left:60px;
    }
    
 }


